DataUpdate/Web References/WebReferenceJiangSu/IVehicleServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://synToCity.synchrodata.daniu.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IVehicleServiceService" targetNamespace="http://synToCity.synchrodata.daniu.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://synToCity.synchrodata.daniu.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="BeginCheck" type="tns:BeginCheck" />
      <xs:element name="BeginCheckResponse" type="tns:BeginCheckResponse" />
      <xs:element name="GetBaseTypeInfo" type="tns:GetBaseTypeInfo" />
      <xs:element name="GetBaseTypeInfoResponse" type="tns:GetBaseTypeInfoResponse" />
      <xs:element name="GetCheckList" type="tns:GetCheckList" />
      <xs:element name="GetCheckListResponse" type="tns:GetCheckListResponse" />
      <xs:element name="GetVehicle" type="tns:GetVehicle" />
      <xs:element name="GetVehicleResponse" type="tns:GetVehicleResponse" />
      <xs:element name="LoginServer" type="tns:LoginServer" />
      <xs:element name="LoginServerResponse" type="tns:LoginServerResponse" />
      <xs:element name="UploadInspectionResult" type="tns:UploadInspectionResult" />
      <xs:element name="UploadInspectionResultResponse" type="tns:UploadInspectionResultResponse" />
      <xs:element name="vehiclelogin" type="tns:vehiclelogin" />
      <xs:element name="vehicleloginResponse" type="tns:vehicleloginResponse" />
      <xs:complexType name="BeginCheck">
        <xs:sequence>
          <xs:element minOccurs="0" name="unitid" type="xs:string" />
          <xs:element minOccurs="0" name="lineid" type="xs:string" />
          <xs:element minOccurs="0" name="plate" type="xs:string" />
          <xs:element minOccurs="0" name="vin" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BeginCheckResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UploadInspectionResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="token" type="xs:string" />
          <xs:element minOccurs="0" name="unitid" type="xs:string" />
          <xs:element minOccurs="0" name="checkresult" type="xs:string" />
          <xs:element name="checkmethod" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UploadInspectionResultResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetVehicle">
        <xs:sequence>
          <xs:element minOccurs="0" name="token" type="xs:string" />
          <xs:element minOccurs="0" name="unitid" type="xs:string" />
          <xs:element minOccurs="0" name="vin" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetVehicleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="vehiclelogin">
        <xs:sequence>
          <xs:element minOccurs="0" name="vehiclexml" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="vehicleloginResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetCheckList">
        <xs:sequence>
          <xs:element minOccurs="0" name="token" type="xs:string" />
          <xs:element minOccurs="0" name="unitid" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetCheckListResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LoginServer">
        <xs:sequence>
          <xs:element minOccurs="0" name="unitid" type="xs:string" />
          <xs:element minOccurs="0" name="lineid" type="xs:string" />
          <xs:element minOccurs="0" name="username" type="xs:string" />
          <xs:element minOccurs="0" name="pwd" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LoginServerResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetBaseTypeInfo">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="GetBaseTypeInfoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="GetBaseTypeInfoResponse">
    <wsdl:part name="parameters" element="tns:GetBaseTypeInfoResponse" />
  </wsdl:message>
  <wsdl:message name="BeginCheck">
    <wsdl:part name="parameters" element="tns:BeginCheck" />
  </wsdl:message>
  <wsdl:message name="GetCheckListResponse">
    <wsdl:part name="parameters" element="tns:GetCheckListResponse" />
  </wsdl:message>
  <wsdl:message name="GetVehicle">
    <wsdl:part name="parameters" element="tns:GetVehicle" />
  </wsdl:message>
  <wsdl:message name="LoginServer">
    <wsdl:part name="parameters" element="tns:LoginServer" />
  </wsdl:message>
  <wsdl:message name="vehicleloginResponse">
    <wsdl:part name="parameters" element="tns:vehicleloginResponse" />
  </wsdl:message>
  <wsdl:message name="GetBaseTypeInfo">
    <wsdl:part name="parameters" element="tns:GetBaseTypeInfo" />
  </wsdl:message>
  <wsdl:message name="BeginCheckResponse">
    <wsdl:part name="parameters" element="tns:BeginCheckResponse" />
  </wsdl:message>
  <wsdl:message name="UploadInspectionResult">
    <wsdl:part name="parameters" element="tns:UploadInspectionResult" />
  </wsdl:message>
  <wsdl:message name="LoginServerResponse">
    <wsdl:part name="parameters" element="tns:LoginServerResponse" />
  </wsdl:message>
  <wsdl:message name="vehiclelogin">
    <wsdl:part name="parameters" element="tns:vehiclelogin" />
  </wsdl:message>
  <wsdl:message name="GetCheckList">
    <wsdl:part name="parameters" element="tns:GetCheckList" />
  </wsdl:message>
  <wsdl:message name="GetVehicleResponse">
    <wsdl:part name="parameters" element="tns:GetVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="UploadInspectionResultResponse">
    <wsdl:part name="parameters" element="tns:UploadInspectionResultResponse" />
  </wsdl:message>
  <wsdl:portType name="IVehicleService">
    <wsdl:operation name="BeginCheck">
      <wsdl:input name="BeginCheck" message="tns:BeginCheck" />
      <wsdl:output name="BeginCheckResponse" message="tns:BeginCheckResponse" />
    </wsdl:operation>
    <wsdl:operation name="UploadInspectionResult">
      <wsdl:input name="UploadInspectionResult" message="tns:UploadInspectionResult" />
      <wsdl:output name="UploadInspectionResultResponse" message="tns:UploadInspectionResultResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicle">
      <wsdl:input name="GetVehicle" message="tns:GetVehicle" />
      <wsdl:output name="GetVehicleResponse" message="tns:GetVehicleResponse" />
    </wsdl:operation>
    <wsdl:operation name="vehiclelogin">
      <wsdl:input name="vehiclelogin" message="tns:vehiclelogin" />
      <wsdl:output name="vehicleloginResponse" message="tns:vehicleloginResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetCheckList">
      <wsdl:input name="GetCheckList" message="tns:GetCheckList" />
      <wsdl:output name="GetCheckListResponse" message="tns:GetCheckListResponse" />
    </wsdl:operation>
    <wsdl:operation name="LoginServer">
      <wsdl:input name="LoginServer" message="tns:LoginServer" />
      <wsdl:output name="LoginServerResponse" message="tns:LoginServerResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetBaseTypeInfo">
      <wsdl:input name="GetBaseTypeInfo" message="tns:GetBaseTypeInfo" />
      <wsdl:output name="GetBaseTypeInfoResponse" message="tns:GetBaseTypeInfoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IVehicleServiceServiceSoapBinding" type="tns:IVehicleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BeginCheck">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="BeginCheck">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="BeginCheckResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadInspectionResult">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="UploadInspectionResult">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UploadInspectionResultResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicle">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="GetVehicle">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetVehicleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vehiclelogin">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="vehiclelogin">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="vehicleloginResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCheckList">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="GetCheckList">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetCheckListResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginServer">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="LoginServer">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="LoginServerResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaseTypeInfo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="GetBaseTypeInfo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetBaseTypeInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IVehicleServiceService">
    <wsdl:port name="IVehicleServicePort" binding="tns:IVehicleServiceServiceSoapBinding">
      <soap:address location="http://192.168.1.200:8081/synchrodata/webservice/SynTocity" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>